{% extends('base.html.twig') %}

{% block body %}

    <h2> {{ post.title }}</h2>

    <em>Category: {{ post.category }}</em>

    <hr>

    <img class="img-fluid" src="{{ '/uploads/' ~ post.image }}" alt="post-image">

{% endblock %}
