{% extends('base.html.twig') %}

{% block body %}

    <h2> {{ post[0]['post_title'] }}</h2>

    <em>Category: {{ post[0]['cat_name'] }}</em>

    <hr>

    <img class="img-fluid" src="{{ '/uploads/' ~ post[0]['post_image'] }}" alt="post-image">

{% endblock %}
